/* VARIABLES */

$font-main: 'Nunito Sans', sans-serif;

$primary: #158cad;
$secondary: #0B6F89;
$white: #ffffff;
$light: #f8f9fa;
$dark: #202020;

$filosofia: #005F56;
$infantil: #1292C8;
$danzas: #A8C800;
$artes: #6F2A92;
$musica: #4AC0CC;
$salud: #F2C300;
$ciencias: #45B0E5;
$cultura-general: #F39A1A;
$teatro: #E91D4D;
$audiovisual: #233B7D;
$letras: #27448E;
$historia: #B8874A;

$fs-xs: 0.75rem;
$fs-sm: 0.875rem;
$fs-base: 1.175rem;
$fs-md: 1.20rem;
$fs-lg: 1.30rem;
$fs-xl: 1.5rem;
$fs-2xl: 1.75rem;
$fs-3xl: 2rem;
$fs-4xl: 2.5rem;
$fs-5xl: 3rem;

$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 2rem;
$space-lg: 4rem;
$space-xl: 6rem;

$radius: 0.375rem;
$shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);

$btn-padding-y: 0.375rem;

/* Breakpoints */
$bp-xs: 480px;
$bp-sm: 576px;
$bp-md: 991px;
$bp-lg: 1199px;

